
rasters/accessibility.tif
rasters/alfalfa_high.tif
rasters/carbon_stock.tif
rasters/crop_emissions.tif
rasters/distance_port.tif
rasters/efftemp01.tif
rasters/efftemp02.tif
rasters/efftemp03.tif
rasters/efftemp04.tif
rasters/efftemp05.tif
rasters/efftemp06.tif
rasters/efftemp07.tif
rasters/efftemp08.tif
rasters/efftemp09.tif
rasters/efftemp10.tif
rasters/efftemp11.tif
rasters/efftemp12.tif
rasters/glps.tif
rasters/grass_high.tif
rasters/grass_low.tif
rasters/landcover.tif
rasters/ls_opp_cost.tif
rasters/maize_high.tif
rasters/msalu.tif
rasters/nutrient_availability.tif
rasters/opp_cost.tif
rasters/soybean_high.tif
rasters/wheat_high.tif
*.gpkg
new_optimisation.py
new_optimisation.py
